//BREAKPOINTS
$breakpoints: (
  //max-width for mobile view
  "small": 768px,
  //max-width for tablets view
  "medium": 992px
);

//FONT-WEIGHT
$weight-normal: 400;
$weight-semi-bold: 700;
$weight-bold: 900;

//COLORS
$main-bg-color: #4e5166;
$secondary-color: #fd2d01;
$tertiary-color: #ffd7d7;

//HOMEPAGE SIZES
$timeline-width: 35%;

$pp-post-width: 10%;
$post-border-radius: 20px;
$post-padding: 25px;
$post-mobile-padding: 10px 25px;
