//BREAKPOINTS
$breakpoints: (
  //max-width for mobile view
  "small": 768px,
  //max-width for tablets view
  "medium": 992px
);

//COLORS
$main-bg-color: #517c96;
$main-color: #6ab4dc;
$main-color-light: #cbf7ff;
$secondary-color: #fd2d01;
$secondary-color-light: #ffd7d7;
$tertiary-color: #f0ede3;
