//BREAKPOINTS
$breakpoints: (
  //max-width for mobile view
  "small": 768px,
  //max-width for tablets view
  "medium": 992px
);

//FONT-WEIGHT
$weight-normal: 500;
$weight-semi-bold: 600;
$weight-bold: 800;

//COLORS
$main-bg-color: #517c96;
$main-color: #6ab4dc;
$main-color-light: #cbf7ff;
$secondary-color: #fd2d01;
$secondary-color-light: #ffd7d7;
$tertiary-color: #f0ede3;

//HOMEPAGE SIZES
$timeline-width: 35%;

$pp-post-width: 10%;
$post-border-radius: 20px;
$post-padding: 25px;
$post-mobile-padding: 10px 25px;
