@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500;600;800&display=swap');

*{
    font-family: 'Libre Franklin', sans-serif;
}

/*______________________________/
/   LOGIN AND SIGN UP SECTION   /
/______________________________*/ 

/*Connect section titles*/
.connect-title{
    font-size: 36px;
    font-weight: 800;
}

/*Change your form type (login -> sign up / signup -> login)*/
.connect-change-form{
    font-size: 18px;
    font-weight: 500;

    &:hover{
        text-decoration: underline;
        font-weight: 600;
    }
}

/*inputs*/
.register-form{
    input{
        font-size: 20px;
    }
}

input[type=submit]{
    font-size: 24px;
    font-weight: 600;
}