/*Page where you register/log to website*/
body {
  width: 100%;
  background-color: $main-bg-color;
}

#root {
  width: 100%;
  height: 100%;
}

/*main section*/
.connect-modal {
  width: 100%;
  height: 100vh;
  @extend %flex-center;
}

/*Sign up container*/
.connect-container {
  width: 50%;
  min-width: 600px;
  max-width: 800px;
  height: 750px;
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: $tertiary-color;
  border-radius: 30px;

  @include medium-screen {
    width: 85%;
    min-width: auto;
    max-width: 640px;
    max-height: 650px;
  }

  @include small-screen {
    width: 85%;
    min-width: auto;
    max-width: 540px;
    max-height: 650px;
    text-align: center;
  }

  /*Sign up/login form*/
  form {
    width: 55%;
    min-width: 475px;
    height: auto;
    @extend %flex-center;
    flex-direction: column;

    @include medium-screen {
      width: 90%;
    }

    @include small-screen {
      min-width: auto;
      width: 90%;
    }
  }

  /*Sign up/login inputs*/
  input {
    width: 100%;
    height: 55px;
    margin: 15px 0;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 10px;

    &[type="submit"] {
      @include submit-button;
    }

    .invalid-input {
      border: 3px solid $secondary-color;
      caret-color: $secondary-color;
      &:focus {
        border: 3px solid $secondary-color;
      }
    }
  }
}

/*error message if input is not valid*/
.invalid-message {
  width: 100%;
  margin-bottom: 5px;
  color: $secondary-color;
  font-style: italic;
  text-align: end;
}

.connect-change-form {
  a {
    color: inherit;
  }
}
