/*container on home page, it contains create post textarea, and posts timeline*/
.main-container {
  width: $timeline-width;
  min-width: 700px;
  margin: 0 auto;

  @include small-screen {
    min-width: auto;
    width: 90%;
  }
  @include medium-screen {
    min-width: auto;
    width: 80%;
  }

  .spinner {
    @include posts-spinner;
  }
}

/*container for all posts*/
.posts-container {
  width: 100%;
  @extend %flex-center;
  flex-direction: column-reverse;
}

/*Post creation section*/
.new-user-post {
  width: 100%;
  min-height: 180px;
  margin-top: 15px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  @include newPost;
  border-radius: $post-border-radius;
  background-color: #fff;
}

/*existing posts*/
.user-post {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  @include postTemplate;
  border-radius: $post-border-radius;
  background-color: #fff;
}

a {
  color: inherit;
}
