/*comments section*/
.comments-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include medium-screen {
    width: 100%;
  }

  @include small-screen {
    width: 100%;
  }
  .user-comment {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    border-radius: $post-border-radius;
    background-color: #fff;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -7%;
      width: 7%;
      height: 2px;
      background-color: $secondary-color;

      @include small-screen {
        top: 55%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 50%;
      left: -7%;
      width: 2px;
      height: 150%;
      background-color: $secondary-color;
      z-index: -1;

      @include small-screen {
        bottom: 45%;
      }
    }

    @include medium-screen {
      width: 90%;
    }
    @include small-screen {
      width: 90%;
    }
  }

  /*user profile picture container*/
  .post-profile-picture {
    width: $pp-post-width;
    padding-top: 20px;
    text-align: center;
    border-top-left-radius: $post-border-radius;
    border-bottom-left-radius: $post-border-radius;
    @include small-screen {
      min-width: 35px;
      width: 20%;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;

      @include small-screen {
        width: 35px;
        height: 35px;
      }
    }
  }

  .comment-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: $post-padding;
    line-height: 1.25;
  }

  .more-options {
    @include moreOptionsModal;
  }

  .comment-details {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    white-space: pre-line;

    h1 {
      margin-bottom: 15px;
    }
    span {
      @include postDate;
    }
  }

  .post-icons-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;

    .post-icons {
      @include postIcons;
    }
  }

  .fa-trash-can:hover {
    animation-name: wiggle;
    animation-duration: 0.2s;
    animation-iteration-count: 5;
    @keyframes wiggle {
      0% {
        transform: rotate(-3deg);
      }
      100% {
        transform: rotate(3deg);
      }
    }
  }
}
