/*Text area to create a post*/
@mixin newPost {
    width: $textarea-desktop-width;
    min-height: 120px;
    padding: $post-padding;

    border: none;
    border-top-right-radius: $post-border-radius;
    border-bottom-right-radius: $post-border-radius;
    resize: none;
    overflow: auto;

    @include medium-screen{
        width: $textarea-tablet-width;
    }
    @include small-screen{
        width: $textarea-mobile-width;
    }

    &:focus{
        outline: none;
    }
}

