@mixin postTemplate {
  /*user profile picture container*/
  .post-profile-picture {
    width: $pp-post-width;
    padding-top: 20px;
    text-align: center;
    border-top-left-radius: $post-border-radius;
    border-bottom-left-radius: $post-border-radius;

    @include small-screen {
      min-width: 35px;
      width: 20%;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;

      @include small-screen {
        width: 35px;
        height: 35px;
      }
    }
  }

  .user-content {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: $post-padding;
    line-height: 1.25;

    @include medium-screen {
      min-width: auto;
      width: 100%;
    }

    @include small-screen {
      min-width: auto;
      width: 100%;
      padding: 15px 10px;
    }

    #sharedBy {
      margin-bottom: 15px;
      font-style: italic;
      font-size: 14px;
      color: $main-bg-color;
    }

    .post-details {
      width: 100%;
      height: auto;
      margin-bottom: 25px;
      white-space: pre-line;
      

      h1 {
        margin-bottom: 15px;
      }
      span {
        @include postDate;
      }
      .image-container {
        width: 100%;
        margin-top: 15px;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .more-options {
    @include moreOptionsModal;
  }

  .post-icons-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;

    @include medium-screen {
      padding: 0 25px;
    }
    @include small-screen {
      padding: 0 8px;
    }

    .post-icons {
      @include postIcons;
    }
  }

  /*active state for like/dislike icons*/
  .active-icon {
    @include postIcons;
    color: $main-color;
  }

  .like-dislike-icons-container {
    width: 12%;
    max-width: 80px;
    @extend %flex-center-between;

    @include medium-screen {
      width: 20%;
      min-width: 60px;
      max-width: 80px;
    }
    @include small-screen {
      width: 25%;
      min-width: 75px;
      max-width: 80px;
    }
  }

  .fa-trash-can:hover {
    animation-name: wiggle;
    animation-duration: 0.2s;
    animation-iteration-count: 5;
    @keyframes wiggle {
      0% {
        transform: rotate(-3deg);
      }
      100% {
        transform: rotate(3deg);
      }
    }
  }
}
